/* 
    LOGIN  SCREEN

*/
#login-main{
    margin-top: 10%;
}

#login-main h1 {
    text-align: center;
}

/* 
    REGISTER  SCREEN

*/
#register-main{
    margin-top: 5%;
}
.bi-chevron-left{
    margin-right: 10px;
}

#register-main h1 {
    text-align: center;
}


/* 
    HOME  SCREEN

*/
#home-resume{
    text-align: justify;
    
}

#home-main{
    padding-top: 10px;
}

.home-to-signup{
    margin-right: 5px;
}
.home-navigation a{
    /* display: flex; */
    text-decoration: none;
    color: unset;
}
.home-navigation a:hover{
    /* display: flex; */
    text-decoration-line: underline;
    color: darkslategrey;
}

/* 
    NOTFOUND  SCREEN

*/
#notfound-main{
   padding: 10%;
}
.bi-chevron-left{
    margin-right: 10px;
}

#register-main h1 {
    text-align: center;
}
