<div class="container-fluid mt-5" id="home-main">

    <div class="container">
        <div class="">
            <div class="row justify-content-end home-navigation">
            
                <span><a onclick="logout()" class="home-to-login" href="/login">Click here to logout<span class="bi bi-chevron-right"></span></a> </span></span>
                
            </div>
        </div>
    </div>

    <div class="col offset-md-3 col-md-6 mt-4 ">
        <div id="home-resume">
            <div>
                Hi,
            </div>
            <div>
                <div>
                    My name is <b>Vincent Enyinwa</b>. I am a Backend software Engineer with four years experience in the fintech industry. <br><br>
                </div>
                <div>
                    I am a self-motivated, goal-oriented, passionate fellow with an eye for details and very keen to solving problems and writing clean code. I am a master of my craft.
                    <br><br>
                </div>
                <div>
                    I learn and adopt newtechnologies and processes very quicky with determination to apply what I have learned to produce pristine products and services to customers.
                    <br><br>
                    I am willing to take responsibilities as I see them as an avenue to enhance my skills and contribute to the development my employer.
                    <br><br>
                </div>
                <div>
                    Throughout my career, I have honed several skills, proficiency in but not limited to software design, problem solving, software testing, teamwork, agile methodology and software development.
                    <br><br>
                    Also, being a programing language agnostic, I always strive to implement solutions in the best possible language suited for that solution or as per stated in a software requirement document.
                    <br><br>
                </div>
                <div>

                </div>
            </div>

        </div>

    </div>
    
</div>

