<div class="container">
        <div class="col mt-5">
            <div class="row-sm-4 justify-content-evenly home-navigation">
                <span><a class="home-to-signup" href="/"><span class="bi bi-chevron-left"> </span> Go back home </a> </span></span>
            </div>
        </div>
</div>
<div class="container" id="login-main">
    <div>
        <h1>Login</h1>
    </div>
    <div class="col offset-md-4 col-md-4 mt-4">
        <form action="" class="">
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> --}}
                <input type="email" class="form-control" id="login-form-emailInput" placeholder="enyinwa.vincent@outlook.com">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Password</label> --}}
                <input type="password" class="form-control" id="login-form-passwordInput" placeholder="Password">
            </div>
            <div class="row align-items-center justify-content-evenly">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
    
</div>

