<div class="container" id="home-main">
    <div>
        <h1>Welcome to My little signup page</h1>
    </div>
    <div class="col offset-md-4 col-md-4 mt-4">
        <form action="" class="">
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Username</label> --}}
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> --}}
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enyinwa.vincent@outlook.com">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Password</label> --}}
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="enyinwa.vincent@outlook.com">
            </div>
            <div class="row align-items-center justify-content-evenly">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    
</div>

