<div class="container">
        <div class="col mt-5">
            <div class="row-sm-4 justify-content-evenly home-navigation">
                <span></span><a class="home-to-signup" href="/"><span class="bi bi-chevron-left"> Go to home </a> </span></span>
            </div>
        </div>
</div>
<div class="container" id="register-main">
    
    <div>
        <h1>Register</h1>
    </div>
    <div class="col offset-md-4 col-md-4 mt-4">
        {{#if  exception}}
        <div class="mb-3 pd-4 register-err-msg">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Username</label> --}}
                {{{mesg}}}
            </div>
        {{/if}}
        <div id="register-form"  >
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Username</label> --}}
                <input type="text" name="firstName" class="form-control" id="register-form-firstnameInput" placeholder="FirstName">
            </div>

            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Username</label> --}}
                <input type="text" class="form-control" id="register-form-lastnameInput" placeholder="Lastname" name="lastName">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> --}}
                <input type="email" class="form-control" id="register-form-emailInput" placeholder="enyinwa.vincent@outlook.com" name="email">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Password</label> --}}
                <input type="password" class="form-control" id="register-form-passwordInput" placeholder="Password" name="password">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Password</label> --}}
                <input type="password" class="form-control" id="register-form-cpasswordInput" placeholder="Confirm Password" name="cPassword">
            </div>
            <div class="mb-3 pd-4">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Password</label> --}}
                <a class="register-to-login" href="/login">Already have and account? login</a>
            </div>
            <div class="row align-items-center justify-content-evenly">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" onclick="registeruser()" >Submit</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

